.App {
  display: flex;
  padding: 20px;
}

/* Inside the lightbox */

.control-bar {
  display: flex;
  padding: 10px 0 5px 0;
  width: 100%;
}

.lightbox-button {
  background: white;
  cursor: pointer;
  flex: 1;
  margin-right: 5px;
}

button.lightbox-button:last-child {
  margin-right: 0;
}

.lightbox-button.selected {
  background-color: rgba(223,255,255);
}

.lightbox-button.selected:hover {
  background-color: rgba(198,255,255);
}

button {
  border-radius: 3px;
}

.category-button:hover, .lightbox-button:hover, .action-button:hover {
  background-color: rgba(198,255,255);
}
