.GridView {
  align-content: flex-start;
  display: flex;
	flex: 0 0 80%;
  flex-wrap: wrap;
  justify-content: center;
}

/* .GridView:after {
  content: "";
  flex: auto;
} */

.thumbnail-container {
  align-items: center;
  background-color: #eeeeee;
  cursor: pointer;
  display: inherit;
  height: 180px;
  margin: 5px;
  position: relative;
  width: 180px;
  text-align: center;
  font-size: 22px;
  /* text-shadow: 2px 2px #aaaaaa; */
  text-shadow: 2px 2px 3px rgba(100,100,100,0.5);
}

.thumbnail {
  margin-left: auto;
  margin-right: auto;
  max-height: 180px;
  max-width: 180px;
}

.tag {
  color: white;
  left: 50%;
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Overlay for thumbnail container */
.thumbnail-container:after {
  -webkit-transition: all 0.3s;
  content: '\A';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 100%;
}

.thumbnail-container:hover:after {
  background: rgba(0,0,0,0.3);
  opacity: 1;
}

/* Freeze overlay if thumbnail is tagged */
.thumbnail-container.tagged:after {
  background: rgba(255,255,255,0.50);
  opacity: 1;
}

.thumbnail-container.tagged:hover:after {
  background: rgba(0,0,0,0.3);
  opacity: 1;
}

/* Overlay for thumbnail container which is selected*/
.thumbnail-container.selected:after {
  background: rgba(0,200,255,0.2);
  opacity: 1;
}

.thumbnail-container.selected:hover:after{
  background: rgba(0,200,255,0.35);
  opacity: 1;
}

.fullscreen {
  opacity: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  z-index: 2;
}

.thumbnail-container:hover .fullscreen {
  opacity: 0.75;
}

.thumbnail-container .fullscreen:hover {
  opacity: 1;
  right: 6px;
  top: 6px;
  width: 34px;
}
