.Panel {
  flex: 1;
  height: fit-content;
  padding: 10px;
  position: sticky;
  top: 0;
  transform: translate(0, 50%);
}

.category-button {
  cursor: pointer;
  display: block;
  height: 40px;
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.Panel label {
  font-size: 11px;
  margin-right: 10px;
  padding-top: 3px;
}

.Panel select {
  cursor: pointer;
  flex: 1;
}

.select-container {
  display: flex;
  margin-top: 50px;
}

.action-button-wrapper {
  display: flex;
  justify-content: space-between;
  color: red;
  margin-top: 50px;
}

.action-button {
  cursor: pointer;
  padding: 3px 5px 4px 5px;
}
